.cursor-fx {

    $prefix: &;
    $color: #000;

    color: #{$color};
    color: var( --color, #{$color} );
    // transition: all .18s ease;

    &__inner {

        position: absolute;

        top: 0;
        left: 0;
        z-index: 99999;
        border-radius: 100%;
        transition-timing-function: ease;
        transition-duration: .25s;

        transition-property: width, height, background-color, border-radius, opacity;
        pointer-events: none;

        // mix-blend-mode: multiply;
        will-change: auto;

        &__outside {
            // position: relative;
            position: absolute;

            &__oval {

                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                border: 2px solid;
                border-color: currentColor;
                transform: translate3d( -50%, -50%, 0 );

            }

        }

        &__horizontal {

            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            visibility: hidden;
            opacity: 0;
            fill: currentColor;

            &__arrow {

                margin: 0 8px;
                transition: transform .5s $easeOutExpo;


                &--left {

                    #{$prefix}--horizontal-dargging & {

                        transform: translateX( -25px );

                    }

                }

                &--right {

                    #{$prefix}--horizontal-dargging & {

                        transform: translateX( 25px );

                    }

                }

            }

            #{$prefix}--horizontal & {

                visibility: visible;
                opacity: 1;

            }

        }

        &__outside,
        &__custom {

            width: 32px;
            height: 32px;

        }

        &__inside {

            width: 6px;
            height: 6px;
            background-color: currentColor;

            #{$prefix}--horizontal & {

                opacity: 0;

            }

        }

    }

    &--shape {

        &-square {

            > #{$prefix}__inner {

                border-radius: 0;

            }

        }

    }

    &--dragging {

        .cursor-fx__inner__inside {

            opacity: 0;

        }


    }

}
